<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83916402003-etq0egl0f09bokqqtp847jvucpqaohnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83916402003-etq0egl0f09bokqqtp847jvucpqaohnk</string>
	<key>API_KEY</key>
	<string>AIzaSyB6DxkznENJpu5tiTm923UDrajj8j5AEGA</string>
	<key>GCM_SENDER_ID</key>
	<string>83916402003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payment</string>
	<key>PROJECT_ID</key>
	<string>payment-bd10c</string>
	<key>STORAGE_BUCKET</key>
	<string>payment-bd10c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83916402003:ios:4cfa8e0a285a1f2fd4c5a6</string>
</dict>
</plist>